[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
django-simple-history = "*"
pillow = "*"
djangorestframework = "*"
django-cors-headers = "*"
pyjwt = "*"
djangorestframework-simplejwt = "*"

[dev-packages]
black = "*"
isort = "*"
autopep8 = "*"
flake8 = "*"

[requires]
python_version = "3.11"
